body {
    background:FFF8F0;
    font-family: "Open Sans", sans-serif;
  }

  .flex-container  {
    background-color:aliceblue; 
    border: 3px solid black; 
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0px 0px; 
    float:inline-start; 
    height: 200px;
    width: 100%;
    top: Opx;
    margin: 40;
  }


  .header {
    overflow:auto;
    background-color:aliceblue;
    font-family: Arial;
    border-bottom: 2px solid black;
    display:flex;
    height: 75px;
    width: 100vw;
    margin: none;
    position:absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    
    
  }
  .header a {
    
    font-size: 28px;
    color:black;
    text-align: right;
    padding: 14px ;
    background-color: aliceblue;
    text-decoration: none;
    margin: 20px ;
    
  }

  .welcome {
    overflow: hidden;
    background-color:none;
   
    align-content: center;
    text-align: center;
    display: flex;
    width: 1000px;
  
  }
  

  
  



  .welcome a:hover {
    background-color:aliceblue;
    color:cadetblue;
  }
 
  
  .flex-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
  }

  

  .brain { 
    height: 400px;
    margin-left: 100px;
    
  }

  .form-container {
    border: 2px solid black;
    display: flex;
    justify-content: space-between;

  }


  .link {
    background-color: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    padding: 0;

  }

  





.flex-container2 {
  display:flex;
  padding: 20px;
  position:relative;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-evenly;
  }

  #img2 {
    height: 400px;
    width: 350px;
    margin: 20px;
  }

  #div1 {
    height: 400px;
    width: 350px;
    border: 3px solid black;
    margin: 20px;
    padding: 10px;
    text-align: center;
    align-items: center; 
  }

  #container{
    border: 3px solid black;
  }












input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 3px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px;
}


input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #45a049;
}


.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}












input[type=text2], select, textarea {
  width:50%; 
  padding: 6px; 
  border: 3px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 10px; 
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=delete] {
  background-color:rgb(164, 6, 6);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #45a049;
}
input[type=delete]:hover {
  background-color: red;
}


.container2 {
  border-radius: 5px;
  background-color:ghostwhite;
  padding: 20px;
  width: 75%;
  margin: 20;
  height: 500px;
  border: 2px solid grey;
  top: 20px;
}

#div3 {
  height: 2000px;
}

.footer {
  position: relative;
  height: 100px;
  display: flex;
  justify-content: center;
  /* width: 100px; */
}